CAOP KYC/CAOP/Web References/CustomerInquiry/ProfileConnectorTest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ProfileConnector.com/" targetNamespace="http://ProfileConnector.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CIFEnquiryCIFNo" type="tns:CIFEnquiryCIFNo" />
  <xs:element name="CIFEnquiryCIFNoResponse" type="tns:CIFEnquiryCIFNoResponse" />
  <xs:element name="CIFEnquiryCNIC" type="tns:CIFEnquiryCNIC" />
  <xs:element name="CIFEnquiryCNICResponse" type="tns:CIFEnquiryCNICResponse" />
  <xs:element name="CallMRPC" type="tns:CallMRPC" />
  <xs:element name="CallMRPC29" type="tns:CallMRPC29" />
  <xs:element name="CallMRPC29Response" type="tns:CallMRPC29Response" />
  <xs:element name="CallMRPCResponse" type="tns:CallMRPCResponse" />
  <xs:element name="CallMRPCTrx" type="tns:CallMRPCTrx" />
  <xs:element name="CallMRPCTrxResponse" type="tns:CallMRPCTrxResponse" />
  <xs:element name="CreateCustomerMRPC" type="tns:CreateCustomerMRPC" />
  <xs:element name="CreateCustomerMRPCResponse" type="tns:CreateCustomerMRPCResponse" />
  <xs:element name="CreateDepositAccountMRPC" type="tns:CreateDepositAccountMRPC" />
  <xs:element name="CreateDepositAccountMRPCResponse" type="tns:CreateDepositAccountMRPCResponse" />
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="GetBalanceData" type="tns:GetBalanceData" />
  <xs:element name="GetBalanceDataResponse" type="tns:GetBalanceDataResponse" />
  <xs:element name="GetScalarData" type="tns:GetScalarData" />
  <xs:element name="GetScalarDataResponse" type="tns:GetScalarDataResponse" />
  <xs:element name="GetXMLData" type="tns:GetXMLData" />
  <xs:element name="GetXMLDataResponse" type="tns:GetXMLDataResponse" />
  <xs:element name="InserUpdateData" type="tns:InserUpdateData" />
  <xs:element name="InserUpdateDataResponse" type="tns:InserUpdateDataResponse" />
  <xs:complexType name="GetScalarData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Query" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetScalarDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CallMRPCTrx">
    <xs:sequence>
      <xs:element minOccurs="0" name="Query" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CallMRPCTrxResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateDepositAccountMRPC">
    <xs:sequence>
      <xs:element name="brCode" type="xs:int" />
      <xs:element name="acType" type="xs:int" />
      <xs:element minOccurs="0" name="currency" type="xs:string" />
      <xs:element minOccurs="0" name="acStr" type="xs:string" />
      <xs:element name="CIFNo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateDepositAccountMRPCResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetXMLData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Query" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetXMLDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CIFEnquiryCIFNo">
    <xs:sequence>
      <xs:element minOccurs="0" name="inputString" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CIFEnquiryCIFNoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateCustomerMRPC">
    <xs:sequence>
      <xs:element minOccurs="0" name="brCode" type="xs:string" />
      <xs:element minOccurs="0" name="CNIC" type="xs:string" />
      <xs:element minOccurs="0" name="title" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" type="xs:string" />
      <xs:element minOccurs="0" name="middleName" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" type="xs:string" />
      <xs:element minOccurs="0" name="fatherCNIC" type="xs:string" />
      <xs:element minOccurs="0" name="fatherName" type="xs:string" />
      <xs:element minOccurs="0" name="motherName" type="xs:string" />
      <xs:element minOccurs="0" name="motherCNIC" type="xs:string" />
      <xs:element minOccurs="0" name="DOB" type="xs:string" />
      <xs:element minOccurs="0" name="maritalStatus" type="xs:string" />
      <xs:element minOccurs="0" name="gender" type="xs:string" />
      <xs:element minOccurs="0" name="religion" type="xs:string" />
      <xs:element minOccurs="0" name="resident" type="xs:string" />
      <xs:element minOccurs="0" name="monthlyIncome" type="xs:string" />
      <xs:element minOccurs="0" name="residennceCountry" type="xs:string" />
      <xs:element minOccurs="0" name="cnicIssueDate" type="xs:string" />
      <xs:element minOccurs="0" name="cnicExpiryDate" type="xs:string" />
      <xs:element minOccurs="0" name="idMark" type="xs:string" />
      <xs:element minOccurs="0" name="familyCode" type="xs:string" />
      <xs:element minOccurs="0" name="ntn" type="xs:string" />
      <xs:element minOccurs="0" name="permCountry" type="xs:string" />
      <xs:element minOccurs="0" name="permCity" type="xs:string" />
      <xs:element minOccurs="0" name="permArea" type="xs:string" />
      <xs:element minOccurs="0" name="permAD1" type="xs:string" />
      <xs:element minOccurs="0" name="permAD2" type="xs:string" />
      <xs:element minOccurs="0" name="permAD3" type="xs:string" />
      <xs:element minOccurs="0" name="permAD4" type="xs:string" />
      <xs:element minOccurs="0" name="permZip" type="xs:string" />
      <xs:element minOccurs="0" name="presCountry" type="xs:string" />
      <xs:element minOccurs="0" name="presCity" type="xs:string" />
      <xs:element minOccurs="0" name="presArea" type="xs:string" />
      <xs:element minOccurs="0" name="presAD1" type="xs:string" />
      <xs:element minOccurs="0" name="presAD2" type="xs:string" />
      <xs:element minOccurs="0" name="presAD3" type="xs:string" />
      <xs:element minOccurs="0" name="presAD4" type="xs:string" />
      <xs:element minOccurs="0" name="presZip" type="xs:string" />
      <xs:element minOccurs="0" name="resPhone" type="xs:string" />
      <xs:element minOccurs="0" name="officePhone" type="xs:string" />
      <xs:element minOccurs="0" name="mobileNo" type="xs:string" />
      <xs:element minOccurs="0" name="faxNo" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="empoymentInfo" type="xs:string" />
      <xs:element minOccurs="0" name="employmentCountry" type="xs:string" />
      <xs:element minOccurs="0" name="education" type="xs:string" />
      <xs:element minOccurs="0" name="accomodation" type="xs:string" />
      <xs:element minOccurs="0" name="nationality" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateCustomerMRPCResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CallMRPC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Query" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CallMRPCResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CallMRPC29">
    <xs:sequence>
      <xs:element minOccurs="0" name="drAcc" type="xs:string" />
      <xs:element minOccurs="0" name="crAcc" type="xs:string" />
      <xs:element minOccurs="0" name="amount" type="xs:string" />
      <xs:element minOccurs="0" name="brCode" type="xs:string" />
      <xs:element minOccurs="0" name="tComment" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CallMRPC29Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InserUpdateData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Query" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InserUpdateDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetBalanceData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetBalanceDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CIFEnquiryCNIC">
    <xs:sequence>
      <xs:element minOccurs="0" name="inputString" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CIFEnquiryCNICResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>