CAOP KYC/CAOP/Web References/JavaWebReferenceTagging/ProfileConnector.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ProfileConnector.com/" targetNamespace="http://ProfileConnector.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="GetBalanceData" type="tns:GetBalanceData" />
  <xs:element name="GetBalanceDataResponse" type="tns:GetBalanceDataResponse" />
  <xs:element name="GetScalarData" type="tns:GetScalarData" />
  <xs:element name="GetScalarDataResponse" type="tns:GetScalarDataResponse" />
  <xs:element name="GetXMLData" type="tns:GetXMLData" />
  <xs:element name="GetXMLDataResponse" type="tns:GetXMLDataResponse" />
  <xs:element name="InserUpdateData" type="tns:InserUpdateData" />
  <xs:element name="InserUpdateDataResponse" type="tns:InserUpdateDataResponse" />
  <xs:complexType name="InserUpdateData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Query" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InserUpdateDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetBalanceData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetBalanceDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetXMLData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Query" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetXMLDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetScalarData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Query" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetScalarDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>